@use "../constants" as c;

.upcoming-meetup-list {
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;

  & > :global(a) {
    width: 100%;
  }
  
  @media (min-width: c.$main-width) {
    padding: 0;
    width: c.$aside-width;
  }
}
