@import "../constants";

.tweet-card {
  display: none;
  border: 1px solid $highlight-card-bg;
  border-radius: $card-border-radius;
  padding: 1rem;

  a {
    display: block;
    text-align: right;
    font-weight: bold;
  }

  p:first-child {
    align-items: center;
    color: $underline-text;
    display: flex;
    gap: 10px;
  }

  @media (min-width: $main-width) {
    display: block;
    width: $aside-width;
  }
}
