@use "../constants" as c;
@use "sass:color";

.upcoming-meetup-card {
  display: block;

  section {
    border-radius: 4px;
    background-color: c.$highlight-card-bg;
    padding: 1rem;
    text-align: center;

    &:hover {
      background-color: color.adjust($color: c.$highlight-card-bg, $lightness: 10%);
    }
  }

  h2,
  h3 {
    margin-top: 0;
  }

  // h2 {
  //   background-color: black;
  //   padding: 1rem;
  // }

  section > p > button {
    display: inline-block;
    background-color: c.$orange;
    border-radius: 4px;
    border: none;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    width: 100%;
    max-width: c.$aside-width;
    text-align: center;
    cursor: pointer;

    @media (min-width: c.$main-width) {
      // width: $aside-width - 30px;
      max-width: auto;
      // width: 100%;
    }
  }
}
