@import "../constants";

.publication-card {
  border-radius: 4px;
  width: 100%;
  padding: 0 10px;

  &:hover {
    background-color: #213c5e;
  }

  & > section {
    display: flex;
    gap: 10px;
    padding: 1rem;
  }

  @media screen and (min-width: $main-min-width) {
    & {
      min-width: calc($main-min-width - (2 * $aside-width));
      width: calc($main-width - (2 * $aside-width) - 40px);
    }
  }
}

.publication-card--avatar {
  background-color: $orange;
  border-radius: 50%;
  color: black;
  height: 20px;
  min-width: 20px;
  position: relative;
  text-align: center;
}

.publication-card--author {
  margin: 0;
}

.publication-card--date {
  font-size: 80%;
}
