@import "../constants";

.publication-card {
  border-radius: 4px;
  width: 100%;
  padding: 0 10px;

  &:hover {
    background-color: var(--cs-brutalist-green);
  }

  & > section {
    display: flex;
    gap: 10px;
    padding: 1rem;
  }

  @media screen and (min-width: $main-width) {
    & {
      min-width: calc($main-min-width - (2 * $aside-width));
      width: calc($main-width - (2 * $aside-width) - 40px);
    }
  }

  h2 {
    font-family: "Conduit ITC W04 Regular", 'system-ui';
    font-size: 180%;
  }
}

.publication-card--avatar {
  background-color: $red;
  background-size: 50px;
  border-radius: 50%;
  color: black;
  height: 50px;
  min-width: 50px;
  position: relative;
  text-align: center;
  font-size: 40px;
  font-family: "Righteous", sans-serif;
}

.publication-card--author {
  margin: 0;
}

.publication-card--date {
  color: $underline-text;
  font-size: 80%;
}
