@import "../constants";

.welcome-card {
  width: 100%;
  padding: 0 1rem;

  & :global(a) {
    text-decoration: underline;
  }

  @media screen and (min-width: $main-width) {
    min-width: calc($main-min-width - (2 * $aside-width));
    width: calc($main-width - (2 * $aside-width) - 40px);
  }
}
