@import "../constants";

.upcoming-meetup-list {
  padding: 1rem;
  width: 100%;

  @media (min-width: $main-width) {
    padding: 0;
    width: $aside-width;
  }

  &:global(.viewport-xs) {
    display: block;

    @media screen and (min-width: $main-width) {
      display: none;
    }
  }

  &:global(.viewport-sm) {
    display: none;

    @media screen and (min-width: $main-width) {
      display: block;
    }
  }
}
