.top-bar {
  background-color: #121212;
  display: flex;
  height: 56px;
  border-bottom: 1px solid #343a71;
  padding: 0 calc(15vw - 20px); /* 15vw + 20px + 40vw + 20px + 15vw */
  justify-content: space-between;
  align-items: center;

  & > ul {
    list-style: none;
    display: flex;
    gap: 10px;
  }

  a {
    border-radius: 4px;
    padding: 10px;

    &:hover {
      background-color: #222;
    }
  }

  @media screen and (max-width: 900px) {
    & {
      padding: 5vw;
    }
  }
}
