.footer {
  background-color: #343a40;
  padding: 8rem calc(15vw - 40px) 2rem;

  & :global(.contact-info) {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 8px;
    }
  }

  & :global(.social-links) {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
  }
}
