@import "../constants";

.footer {
  background-color: #343a40;
  padding: 8rem 0 2rem;
  display: flex;
  justify-content: center;

  > div {
    padding: 0 1rem;
    width: 100%;

    @media screen and (min-width: $main-width) {
      padding: 0;
      min-width: $main-min-width;
      width: $main-width;
    }

    & :global(.contact-info) {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 8px;
      }
    }

    & :global(.social-links) {
      display: flex;
      gap: 10px;
      margin-top: 1rem;
    }
  }
}
