@import "../constants";

.toot-card {
  display: none;
  border: 1px solid $highlight-card-bg;
  border-radius: $card-border-radius;
  padding: 1rem;

  > a {
    display: block;
    text-align: right;
    font-weight: bold;
  }

  p:first-child {
    align-items: center;
    color: $underline-text;
    display: flex;
    gap: 10px;
  }

  div > a {
    display: block;
    margin-bottom: 0.5rem;
  }

  @media (min-width: $main-width) {
    display: block;
    width: $aside-width;
  }
}

.toot-card--badges {
  display: flex;
  gap: 0.7rem;
  cursor: default;
  align-items: start;

  > span {
    display: flex;
    gap: 0.3rem;
    align-items: start;
    padding: 0.2rem;
    border-radius: 4px;

    &:hover {
      background-color: $highlight-card-bg;
    }
  }
}
